In [1]:
from pdb_profiling import default_config

%time default_config("C:/GitWorks/pdb-profiling/test/demo")

Wall time: 3.36 s

In [2]:
from pdb_profiling.processors import PDB, SIFTS, PDBs, SIFTSs

In [3]:
%time df = SIFTS('O15350').pipe_select_mo().result()
df[df.select_tag.eq(True)]

Wall time: 5.11 s

,UniProt,chain_id,entity_id,identity,is_canonical,pdb_id,struct_asym_id,pdb_range,unp_range,Entry,...,resolution,experimental_method_class,experimental_method,multi_method,revision_date,deposition_date,1/resolution,id_score,COV_SCORE,select_tag
19,O15350,B,2,0.98,True,2nb1,B,"[[3,50]]","[[351,398]]",O15350,...,NaN,nmr,Solution NMR,False,20171122,20160119,NaN,-66,0.136752,True
26,O15350,A,1,1.00,True,1cok,A,"[[1,68]]","[[487,554]]",O15350,...,NaN,nmr,Solution NMR,False,20110713,19990528,NaN,-65,0.193732,True
60,O15350,A,1,1.00,True,4a63,A,"[[2,201]]","[[112,311]]",O15350,...,2.27,x-ray,X-ray diffraction,False,20180124,20111031,0.440529,-65,0.545352,True

In [4]:
sifts = SIFTSs(('O15350', 'O15350-2', 'Q8N2K1-3'))
sifts

In [5]:
res = sifts.fetch('pipe_select_mo').run().result()

In [6]:
res[0]

,UniProt,chain_id,entity_id,identity,is_canonical,pdb_id,struct_asym_id,pdb_range,unp_range,Entry,...,resolution,experimental_method_class,experimental_method,multi_method,revision_date,deposition_date,1/resolution,id_score,COV_SCORE,select_tag
0,Q8N2K1-3,A,1,0.92,False,2f4w,A,"[[3,187]]","[[1,201]]",Q8N2K1,...,2,x-ray,X-ray diffraction,False,20121128,20051124,0.5,-65,0.026928,False
1,Q8N2K1-3,B,1,0.92,False,2f4w,B,"[[3,187]]","[[1,201]]",Q8N2K1,...,2,x-ray,X-ray diffraction,False,20121128,20051124,0.5,-66,0.102353,True

In [7]:
from tqdm import tqdm

In [8]:
res = sifts.fetch('pipe_select_mo').run(tqdm).result()

100%|██████████| 3/3 [00:07<00:00,  2.38s/it]

In [9]:
from pandas import concat

In [10]:
concat((df[df.select_tag.eq(True)] for df in res), sort=False, ignore_index=True)

,UniProt,chain_id,entity_id,identity,is_canonical,pdb_id,struct_asym_id,pdb_range,unp_range,Entry,...,resolution,experimental_method_class,experimental_method,multi_method,revision_date,deposition_date,1/resolution,id_score,COV_SCORE,select_tag
0,O15350,B,2,0.98,True,2nb1,B,"[[3,50]]","[[351,398]]",O15350,...,NaN,nmr,Solution NMR,False,20171122,20160119,NaN,-66,0.136752,True
1,O15350,A,1,1.00,True,1cok,A,"[[1,68]]","[[487,554]]",O15350,...,NaN,nmr,Solution NMR,False,20110713,19990528,NaN,-65,0.193732,True
2,O15350,A,1,1.00,True,4a63,A,"[[2,201]]","[[112,311]]",O15350,...,2.27,x-ray,X-ray diffraction,False,20180124,20111031,0.440529,-65,0.545352,True
3,Q8N2K1-3,B,1,0.92,False,2f4w,B,"[[3,187]]","[[1,201]]",Q8N2K1,...,2.00,x-ray,X-ray diffraction,False,20121128,20051124,0.500000,-66,0.102353,True
4,O15350-2,A,1,1.00,False,4a63,A,"[[2,201]]","[[112,311]]",O15350,...,2.27,x-ray,X-ray diffraction,False,20180124,20111031,0.440529,-65,0.739068,True
5,O15350-2,B,2,0.98,False,2nb1,B,"[[3,50]]","[[351,398]]",O15350,...,NaN,nmr,Solution NMR,False,20171122,20160119,NaN,-66,0.185328,True